---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="John David - Developer">
  <div class="flex flex-col min-h-screen">
    <Navbar />
    <Hero />
    <About />
    <Projects />
    <Footer />
  </div>
</Layout>
